@import "../vendor/bootstrap-theme-ceh/less/theme";

@icon-font-path: "../vendor/bootstrap/fonts/";
@nav-bar-height: 51px;

#main {
  margin-top: @nav-bar-height;

  .event-title {
    width: 400px;
    text-align: center;
    font-weight: bold;
  }

  #gauge {
    margin-bottom: -100px;
  }
}